<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aula 120424</title>
	<style>
	.realizado {
		text-decoration: line-through;
		color: grey;
	}
	
	.prioritaria {
		color: red;
	}
	</style>
</head>

<body>
	<div id="app">
		<h2>
			Lista de Tarefas
			<button @click="edit=!edit">editar</button>
		</h2>
		<input type="text" v-model="texto" @keyup.enter="insereTarefa(texto)">
		<button @click="insereTarefa(texto)">Inserir</button>
		<ul v-if="!edit">
			<li v-for="item in tarefas" :class="{realizado: item.realizada, prioritaria: item.prioritario}">
				{{ item.nome }}</li>
		</ul>
		<ul v-else>
			<li v-for="item in tarefas">
				<input type="text" v-model="item.nome">
				<input type="checkbox" v-model="item.prioritario">prioritario
				<input type="checkbox" v-model="item.realizada">realizada
			</li>
		</ul>	
		
		<!--Reverse exercise -->
		<h2>{{mensagemRevertida}}</h2>
		<button @click="invertePalavra()">Inverter</button>

		<!--Counter exercise
		Variables inside html templares are unwrapped so this keyword is not needed
		-->
		<h2>{{counter}}</h2>
		<button @click="counter++">Incrementar</button>
		
		<!--Temperature converter exercise-->
		<h2>Temperature converter</h2>
		<input type="text" v-model="tempCelsius" @keyup.enter="toFheit()">Celsius = <input type="text" v-model="tempFheit" @keyup.enter="toCelsius()"> Fahrenheit
	</div>	


	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
	Vue.createApp({
	    setup() {
	        const texto = Vue.ref('Introduza a tarefa');
	        const edit = Vue.ref(false);
	        const tarefas = Vue.ref([
	            {nome: 'Exercício de HTML', prioritario: false, realizada: false},
	            {nome: 'Exercício de CSS', prioritario: false, realizada: false},
	            {nome: 'Exercício de Javascript', prioritario: false, realizada: false},
	            {nome: 'Exercício de Vue JS', prioritario: false, realizada: false},
	            {nome: 'Projeto', prioritario: false, realizada: false}
	        ])
	        const mensagemRevertida = Vue.ref('HELLO WORLD');
	        const counter = Vue.ref(0);
	        const tempCelsius = Vue.ref(0);
	        const tempFheit = Vue.ref(0);
	
	        const insereTarefa = (item)=>{
	            tarefas.value.push({
	                nome: item,
	                prioritario: false,
	                realizada: false
	            });
	        }
	        
	        const invertePalavra = ()=>{
	        	mensagemRevertida.value = mensagemRevertida.value.split('').reverse().join('');
	        }
	
	        const toFheit = ()=>{
	        	tempFheit.value = tempCelsius.value * (9 / 5) + 32;
	        }
	        
			const toCelsius = ()=>{
				tempCelsius.value = (tempFheit.value - 32) * (5 / 9);
	        }
	        
	        // Return an object exposing to the template
	        return {
	            texto,
	            edit,
	            tarefas,
	            mensagemRevertida,
	            insereTarefa,
	            invertePalavra,
	            counter,
	            tempCelsius,
	            tempFheit,
	            toFheit,
	            toCelsius
	        };
	    }
	}).mount('#app')
	</script>
</body>

</html>